/*-- SantaCruz Styles
* GPL, Eric York 2016
--*/
/*-- Color Scheme --/
red: b58900
tan: D9CB9E
gray: 374140
dkgray: 2A2C2B
black: 1E1E20
ltgray-link: 788E8B
ltgreen-hover: 4D8E87
dkgreen-visited: 315B56
gray-active: 374140
ltgreen-focus: B8DAD7
white-bkgrnd: D8FFFB
--*/
/*-- General Styles --*/
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Secular One', sans-serif;
}
