/*-- SantaCruz Styles
* GPL, Eric York 2016
--*/
/*-- Color Scheme --/
* red: b58900
* tan: D9CB9E
* gray: 374140
* dkgray: 2A2C2B
* black: 1E1E20
* ltgray-link: 788E8B
* ltgreen-hover: 4D8E87
* dkgreen-visited: 315B56
* gray-active: 374140
* ltgreen-focus: B8DAD7
* white-bkgrnd: D8FFFB
--*/
/*-- General Styles --*/
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin:0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Secular One', sans-serif;
}
.row {
}
/*-- Default Columns Widths (for Phones) --*/
[class*="col-"] {
   width: 100%;
   display: inline-block;
}
/*-- Link Styles --*/
a:link {
  color:#788E8B;
}
a:visited {
  color: #315B56;
}
a:hover {
  color: #4D8E87;
}
a:active {
  background-color: #374140;
  color: #2A2C2B;
}
/*-- Nav Styles --*/
.social-nav ul {
  list-style-type: none;
}
.social-nav ul li {
  display: inline;
}
/*-- Section Styles --*/
#intro {
  background-color: #b58900;
}
#gallery {
  background-color: #374140;
  color: #D9CB9E;
}
#resources {
  background-color: #374140;
}
/*-- Footer Styles --*/
footer {
  background-color: #1E1E20;
  color: #D8FFFB;
}
/*-- Media Queries --*/
@media only screen and (min-width: 580) {
   /* For phablets: */
   .col-sm-4 {width: 100%;}
   .col-sm-3 {width: 75%;}
   .col-sm-2 {width: 50%;}
   .col-sm-1 {width: 25%;}
}
@media only screen and (min-width: 768px) {
   /* For tablets: */
   .col-md-4 {width: 100%;}
   .col-md-3 {width: 75%;}
   .col-md-2 {width: 50%;}
   .col-md-1 {width: 25%;}
}
@media only screen and (min-width: 960px) {
   /* For desktops: */
   .col-4 {width: 100%;}
   .col-3 {width: 75%;}
   .col-2 {width: 50%;}
   .col-1 {width: 25%;}
}
